html {
    text-align: center;
}

.navBar ul {
        padding: 0px;
        background-color: white;
}

.navBar li {
    display: inline-block;
    list-style: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}